/* 
E63946 - red 
F1FAEE - honeydew
A8DADC - powderblue 
457B9D - slightly darker blue
1D3557 - darkest blue 
Hex for a solid color pallet 
*/

body {
  background-color: #f1faee;
}

.todo-list {
  display: grid;
  grid-template-columns: 2.5fr 1fr 0.5fr;
  grid-template-rows: 4em;
  gap: 0px 0px;
  background-color: #a8dadc;
  margin-left: 1em;
}
