/* 
E63946 - red 
F1FAEE - honeydew
A8DADC - powderblue 
457B9D - slightly darker blue
1D3557 - darkest blue 
Hex for a solid color pallet 
*/

body {
  background-color: #f1faee;
}

.complete {
  background-color: red !important;
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-list {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  gap: 0px 1em;
  background-color: #a8dadc;
  border-radius: 1em;
  margin: 0.7em 1em 0.5em 1em;
}
#view-todo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35em;
  min-height: 30em;
  background: #457b9d;
  text-align: center;
  margin: 1em 1em 12em 1em;
  border-radius: 2em;
  padding-bottom: 1em;
}
