/* 
1D3557 - darkest blue 
Hex for a solid color pallet 
*/

body {
  font-family: 'Texturina', serif;
  background-color: #1d3557;
}

.complete {
  background: red !important;
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-list {
  display: grid;
  grid-template-columns: 2.2fr 1.2fr 0.6fr;
  gap: 0em 0em;
  background: #a8dadc;
  border-radius: 1em;
  margin: 0.7em 1em 0.5em 1em;
}
.todo-task:nth-child(odd) .todo-list {
  /* background-color: #c234cf; */
  background: #1d3557;
}
#view-todo {
  color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 23em;
  min-height: 30em;
  background: #457b9d;
  text-align: center;
  font-size: 1.2em;
  margin: 2em auto;
  border-radius: 2em;
  padding-bottom: 1em;
}

.btn-delete {
  background: transparent;
  border: none;
  outline: none;
  height: 1.3em;
  width: 1.3em;
}

#input-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  color: #f1faee;
  font-size: 3em;
  text-align: center;
}
